# Copiar este archivo como .env.development o .env.production
# y completar con los valores correspondientes

VITE_SUPABASE_URL=
VITE_SUPABASE_KEY=

VITE_API_URL=

VITE_MESA_COUNT=5
VITE_MESAS_CONFIG=Mesa 1,Mesa 2,Mesa 3,Mesa 4,Mostrador
